
body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Rubik", sans-serif;
}
h2 {
      text-align: center;
      font-size: 15;
      margin-bottom: 10px;
      color: #546D79;
    }
.container {
  margin: 100px auto 0 auto; 
  margin-bottom: 50px;
  max-width: 1000px;
  width: 80%;
  padding: 20px 15px;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  box-sizing: border-box;
}



.faq {
  margin-bottom: 25px;
}

.question {
  cursor: pointer;
  background-color:  #f5f7ff;
  padding: 16px 18px;  
  border: none;
  width: 100%;
  text-align: left;
  font-weight: 600;
  border-radius: 10px; 
  transition: 0.3s;
  font-size: 17px;
  border:1px solid #546D79;
}

.question:hover {
  background-color: #cde0ee;
  transform: translateY(-2px);
  border:1px solid #546D79;
}

.answer {
  display: none;
  padding: 16px;
  background-color: #f4f6f8;
  border-left: 4px solid #3b5563;
  margin-top: 8px;
  border-radius: 8px;
  font-size: 16px;
}


.download-link {
  display: inline-block;
  margin-top: 30px;
  padding: 14px 20px; 
  background-color: #3b5563;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.25s ease;
  font-size: 16px;
}

.download-link:hover {
  background-color: #2d4150;
  transform: translateY(-2px);
}


.complaint-box {
  margin-top: 45px;
  
}
h3 {
  margin-bottom: 30px;
  
}
p{
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 160px;  
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #bbb;
  resize: vertical;
  font-size: 16px;
  box-sizing: border-box
}


button.submit {
  margin-top: 15px;
  padding: 14px 28px;
  background-color: #3b5563;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;      
  transition: 0.3s ease;
}

button.submit:hover {
  background-color: #455d6f;
  transform: translateY(-2px);
}
