body {
    background-color: #e6eff2;
    margin: 0 auto;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    min-height: 100vh;
}
.filters {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

table {
    width: 100%;
    height: fit-content;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: scroll;
}


.main th {
    background-color: #f2f2f2;
    padding: 8px 10px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    color: #444;
    border-bottom: 2px solid #ddd;
}

.main td {
    padding: 8px 10px;
    /* border-bottom: 1px solid #eee; */
    color: #333;
}

.main td a {
    display: inline-block;
    padding: 4px 12px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #006B94;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.2s ease;
}

.main td a:hover {
    background-color: #e0f1f7;
}

.header {
    background-color: #0a7ca9;
    color: white;
    font-size: 16px;
    padding: 12px;
    text-align: center;
    border-radius: 8px 8px 0px 0px;
}

.categories th {
    background-color: #f2f2f2;
    font-weight: 600;
    color: #444;
    border-bottom: 2px solid #ddd;
}


.main {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
}

.main table td {
    text-align: center;
    ;
}

.topnav {
    background-color: #006B94;
    padding: 4px;
}



h2 {
    color: white;
    text-align: center;
}

.links div {
    align-items: center;
}


.nav-item {
    display: flex;
    gap: 10px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: auto;
    gap: 6px;
}

.search-input {
    border-radius: 4px;
}

.search-button {
    cursor: pointer;
    border-radius: 6px;
    outline: none;
}

.search-button:hover {
    background-color: #ddd;
    border-radius: 6px;
}

.links a {
    font-size: 14px;
    text-decoration: none;
    color: white;

}

.links img {
    width: 20px;
    height: 20px;

}

.links {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

th, td {
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 10px;
  }
  
tr:last-child td {
    border-bottom: none;
  }
td:last-child,
th:last-child {
    border-right: none;
  }

td:first-child,
th:first-child {
  border-left: none;
}

footer {
    background-color: #006B94;
    padding: 12px;
    text-align: center;
    color: white;
    margin-top: 40px;
}

.footer-container {
    margin-top: auto;
    text-decoration: none;
    color: white;
    padding: 0px;

}



.footer-links a {
    font-size: 14px;
    text-decoration: none;
    color: white;
    margin-right: 50px;
}

